<div _ngcontent-c1="" class="container-fluid">
  <footer _ngcontent-c4="" class="footer">
    <div _ngcontent-c4="" class="row align-items-center justify-content-xl-between">
      <div _ngcontent-c4="" class="col-xl-6">
        <div _ngcontent-c4="" class="copyright text-center text-xl-left text-muted"> © 2020 <a _ngcontent-c4=""
            class="font-weight-bold ml-1" href="http://www.sisley.tech"
            target="_blank">Sisley Tech LLC</a></div>
      </div>
      <div _ngcontent-c4="" class="col-xl-6">
        <ul _ngcontent-c4="" class="nav nav-footer justify-content-center justify-content-xl-end">
          <li _ngcontent-c4="" class="nav-item"><a _ngcontent-c4="" class="nav-link"
              href="http://www.sisley.tech" target="_blank">Josh Sisley</a></li>
          <li _ngcontent-c4="" class="nav-item"><a _ngcontent-c4="" class="nav-link"
              href="http://www.sisley.tech" target="_blank">About
              Us</a></li>
          <li _ngcontent-c4="" class="nav-item"><a _ngcontent-c4="" class="nav-link"
              href="https://github.com/creativetimofficial/argon-dashboard-angular/blob/master/LICENSE.md"
              target="_blank">MIT License</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
