<nav class="navbar navbar-top navbar-modern navbar-expand-md navbar-light bg-white" id="navbar-main">
  <div class="container-fluid"><a class="h4 mb-0 text-uppercase d-none d-lg-inline-block active"
      routerlinkactive="active" href="#/dashboard">{{headerText}}</a>
    <!-- <form  class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div  class="form-group mb-0">
        <div  class="input-group input-group-alternative">
          <div  class="input-group-prepend"><span  class="input-group-text"><i
                 class="fas fa-search"></i></span></div><input  class="form-control"
            placeholder="Search" type="text">
        </div>
      </div>
    </form> -->
    <ul *ngIf="headerText === 'Clients'" class="navbar-nav align-items-center d-none d-md-flex">
      <li>
        <button class="btn btn-primary" (click)="open(classic,'' , '')">Add Client</button>
      </li>
    </ul>
  </div>
</nav>

<ng-template #classic let-c="close" let-d="dismiss">
  <user-modal></user-modal>
</ng-template>
