.login-container {
    margin-top: -14rem !important;
    position: relative !important;
    width: 100%;
    .row {
        width: 100%;
    }
}

.amplify-form-input {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0
    rgba(0, 0, 0, 0.02) !important;
    border: 0 !important;
    font-size: 0.875rem !important;
    transition: box-shadow .15s ease !important;
    border-radius: 0.375rem !important;
    height: calc(1.5em + 1.25rem + 2px) !important;
    margin-bottom: 1rem !important;
}

.amplify-form-header {
    display: none !important;
}

.amplify-input-label {
    display: none !important;
}

.amplify-form-action {
    position: absolute;
    bottom: -2rem;
    font-size: 0.75rem;
    left: 3rem;
    color:#999;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}

.amplify-form-cell-right {
    float: left !important;
    padding-left: 10px  !important;
    margin: 8px 8px 8px 0  !important;
    margin-top: .5rem  !important;
    width: 40%  !important;
    left: -6px  !important;
    margin-left: -10px  !important;
    .amplify-form-button {
        width: 100%;
        margin-left: 0px;
    }
}

.amplify-form-cell-left {
    float: right  !important;
    margin: 8px 0 8px 8px !important;
    font-size: 0.875rem !important;
    margin-top: 1rem !important;
}

.amplify-alert {
    color: #f5365c !important;
    width: 100%;
    display: inline-block;
    .amplify-alert-message {
        float: left !important;
        font-size: 0.875rem !important;
        margin-top: 0.5rem !important;
    }
    .amplify-alert-close {
        display: none !important;
    }
    .amplify-alert-icon {
        display: none !important;
    }
}

.full-height {
    position: absolute;
}

.register-container {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.btn-active {
    background: $primary !important;
    border-color: $primary !important;
    color: white !important;
}